In [1]:
# import all the necessary libraries

import numpy as np
import pandas as pd
from datetime import datetime as dt
import itertools
from collections import defaultdict

# %matplotlib inline

In [2]:
# Read the data from a csv to a Pandas dataframe

data_loc = "C:\\Users\\matt\\jupyter-notebooks\\predicting-soccer\\data\\"

raw_data = []

raw_data.append(pd.read_csv(data_loc + '0607-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '0708-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '0809-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '0910-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1011-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1112-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1213-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1314-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1415-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1516-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1617-E0.csv'))

In [3]:
# Parse date string data as time date format

def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, "%d/%m/%y").date()
            
for year in raw_data:
    year.Date = year.Date.apply(parse_date)

In [4]:
# Filter the data points related to the gameplay

filtered_data = []
columns_req = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']

for year in raw_data:
    filtered_data.append(year[columns_req])

filtered_data[0].head(n=5)

         Date    HomeTeam     AwayTeam  FTHG  FTAG FTR
0  2006-08-19     Arsenal  Aston Villa     1     1   D
1  2006-08-19      Bolton    Tottenham     2     0   H
2  2006-08-19     Everton      Watford     2     1   H
3  2006-08-19   Newcastle        Wigan     2     1   H
4  2006-08-19  Portsmouth    Blackburn     3     0   H

In [5]:
# # Optimise the column naming structure for grouping using pandas groupby method

# for i, season in enumerate(filtered_data):
#     filtered_data[i].columns = [[    '', 'Home', 'Away', 'Home', 'Away',    ''],
#                                 ['Date', 'Team', 'Team',  'FTG',  'FTG', 'FTR']]

# filtered_data[0].head(n=5)


def init_teams(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    return teams

teams = init_teams(filtered_data[0])
print("Number of Teams:", len(teams))

Number of Teams: 20

In [11]:
def aggregate_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    matchWeeks = int( len(playing_stat) / len(teams) * 2 ) + 1
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,matchWeeks)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,matchWeeks):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored

def aggregate_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = init_teams(playing_stat)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    matchWeeks = int( len(playing_stat) / len(teams) * 2 ) + 1
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,matchWeeks)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,matchWeeks):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored

def aggregate_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = init_teams(playing_stat)

    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)

    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    matchWeeks = int( len(playing_stat) / len(teams) * 2 ) + 1
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1, matchWeeks)]).T
    GoalsConceded[0] = 0

    # Aggregate to get uptil that point
    for i in range(2,matchWeeks):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]

    return GoalsConceded


def scored_and_conceded(season):
    scored = aggregate_scored(season)
    conceded = aggregate_conceded(season)

    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []
    
    for i in range(len(season)):
        ht = season.iloc[i].HomeTeam
        at = season.iloc[i].AwayTeam
        
        HTGS.append(scored.loc[ht][j])
        ATGS.append(scored.loc[at][j])
        HTGC.append(conceded.loc[ht][j])
        ATGC.append(conceded.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
        
    season['HTGS'] = HTGS
    season['ATGS'] = ATGS
    season['HTGC'] = HTGC
    season['ATGC'] = ATGC
    
    return season


# Apply to the filtered dataset
for i, season in enumerate(filtered_data):
    scored_and_conceded(filtered_data[i])

filtered_data[0].head(n=5)

c:\users\matt\envs\jupyter-notebook\lib\site-packages\ipykernel_launcher.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\matt\envs\jupyter-notebook\lib\site-packages\ipykernel_launcher.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\matt\envs\jupyter-notebook\lib\site-packages\ipykernel_launcher.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\matt\envs\jupyter-notebook\lib\site-packages\ipykernel_launcher.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTP,ATP,HM1,AM1,...,HM3,AM3,HM4,AM4,HM5,AM5,HTGS,ATGS,HTGC,ATGC
0,2006-08-19,Arsenal,Aston Villa,1,1,D,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
1,2006-08-19,Bolton,Tottenham,2,0,H,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
2,2006-08-19,Everton,Watford,2,1,H,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
3,2006-08-19,Newcastle,Wigan,2,1,H,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
4,2006-08-19,Portsmouth,Blackburn,3,0,H,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0

In [12]:
# Get respective match points

def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres, matchWeeks, teamCount):
    matchres_points = matchres.applymap(get_points)
    for i in range(2, matchWeeks):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column = 0, loc = 0, value = [0*i for i in range(teamCount)])
    return matchres_points


def get_matchres(playing_stat, matchWeeks):
    # Create a dictionary with team names as keys
    teams = init_teams(playing_stat)

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')

    return pd.DataFrame(data=teams, index = [i for i in range(1, matchWeeks)]).T


def set_agg_points(playing_stat):
    teams = init_teams(playing_stat)
    matchWeeks = int( len(playing_stat) / len(teams) * 2 ) + 1
    
    matchres = get_matchres(playing_stat, matchWeeks)
    cum_pts = get_cuml_points(matchres, matchWeeks, len(teams))
    HTP = []
    ATP = []
    j = 0
    for i in range( len(playing_stat) ):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1
            
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP

    
# Apply to each dataset
for i, season in enumerate(filtered_data):
    set_agg_points(filtered_data[i])
    
filtered_data[0]

c:\users\matt\envs\jupyter-notebook\lib\site-packages\ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\matt\envs\jupyter-notebook\lib\site-packages\ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTP,ATP,HM1,AM1,...,HM3,AM3,HM4,AM4,HM5,AM5,HTGS,ATGS,HTGC,ATGC
0,2006-08-19,Arsenal,Aston Villa,1,1,D,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
1,2006-08-19,Bolton,Tottenham,2,0,H,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
2,2006-08-19,Everton,Watford,2,1,H,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
3,2006-08-19,Newcastle,Wigan,2,1,H,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
4,2006-08-19,Portsmouth,Blackburn,3,0,H,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
5,2006-08-19,Reading,Middlesbrough,3,2,H,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
6,2006-08-19,Sheffield United,Liverpool,1,1,D,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
7,2006-08-19,West Ham,Charlton,3,1,H,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
8,2006-08-20,Chelsea,Man City,3,0,H,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
9,2006-08-20,Man United,Fulham,5,1,H,0,0,M,M,...,M,M,M,M,M,M,0,0,0,0
10,2006-08-22,Tottenham,Sheffield United,2,0,H,0,1,L,D,...,M,M,M,M,M,M,0,1,2,1
11,2006-08-22,Watford,West Ham,1,1,D,0,3,L,W,...,M,M,M,M,M,M,1,3,2,1
12,2006-08-23,Aston Villa,Reading,2,1,H,1,3,D,W,...,M,M,M,M,M,M,1,3,1,2
13,2006-08-23,Blackburn,Everton,1,1,D,0,3,L,W,...,M,M,M,M,M,M,0,2,3,1
14,2006-08-23,Charlton,Man United,0,3,A,0,3,L,W,...,M,M,M,M,M,M,1,5,3,1
15,2006-08-23,Fulham,Bolton,1,1,D,0,3,L,W,...,M,M,M,M,M,M,1,2,5,0
16,2006-08-23,Man City,Portsmouth,0,0,D,0,3,L,W,...,M,M,M,M,M,M,0,3,3,0
17,2006-08-23,Middlesbrough,Chelsea,2,1,H,0,3,L,W,...,M,M,M,M,M,M,2,3,3,0
18,2006-08-26,Charlton,Bolton,2,0,H,0,3,L,W,...,M,M,M,M,M,M,1,2,3,0
19,2006-08-26,Fulham,Sheffield United,1,0,H,0,1,L,D,...,M,M,M,M,M,M,1,1,5,1
20,2006-08-26,Liverpool,West Ham,2,1,H,4,4,W,D,...,M,M,M,M,M,M,3,4,2,2
21,2006-08-26,Man City,Arsenal,1,0,H,1,1,D,L,...,M,M,M,M,M,M,0,1,3,2
22,2006-08-26,Tottenham,Everton,0,2,A,3,4,W,D,...,M,M,M,M,M,M,2,3,2,2
23,2006-08-26,Watford,Man United,1,2,A,1,6,D,W,...,M,M,M,M,M,M,2,8,3,1
24,2006-08-26,Wigan,Reading,1,0,H,3,3,W,L,...,M,M,M,M,M,M,2,4,2,4
25,2006-08-27,Aston Villa,Newcastle,2,0,H,4,3,W,L,...,M,M,M,M,M,M,3,2,2,3
26,2006-08-27,Blackburn,Chelsea,0,2,A,1,3,D,L,...,M,M,M,M,M,M,1,4,4,2
27,2006-08-28,Middlesbrough,Portsmouth,0,4,A,3,4,W,D,...,M,M,M,M,M,M,4,3,4,0
28,2006-09-09,Arsenal,Middlesbrough,1,1,D,1,3,L,W,...,M,M,M,M,M,M,1,4,2,4
29,2006-09-09,Bolton,Watford,1,0,H,4,1,D,D,...,M,M,M,M,M,M,3,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,2007-04-28,Everton,Man United,2,4,A,54,85,L,W,...,D,W,W,L,D,W,46,82,31,26
351,2007-04-28,Man City,Aston Villa,0,2,A,42,43,D,D,...,D,D,W,W,D,D,28,36,39,39
352,2007-04-28,Middlesbrough,Tottenham,2,3,A,40,53,D,W,...,L,D,W,L,L,W,38,52,45,52
353,2007-04-28,Portsmouth,Liverpool,2,1,H,50,67,D,W,...,L,D,W,W,D,W,43,54,38,22
354,2007-04-28,Sheffield United,Watford,1,0,H,35,24,D,D,...,W,W,L,L,L,L,30,26,50,57
355,2007-04-28,Wigan,West Ham,0,3,A,35,32,L,W,...,D,L,L,W,L,W,35,28,54,58
356,2007-04-29,Arsenal,Fulham,3,1,H,63,36,D,D,...,W,L,D,L,L,D,59,35,33,54
357,2007-04-30,Reading,Newcastle,1,0,H,51,42,W,D,...,D,D,L,W,L,L,48,37,42,43
358,2007-05-05,Aston Villa,Sheffield United,3,0,H,43,35,D,D,...,D,W,W,L,D,L,36,30,39,50
359,2007-05-05,Everton,Portsmouth,3,0,H,54,50,L,D,...,D,L,W,W,D,D,46,43,31,38
360,2007-05-05,Fulham,Liverpool,1,0,H,36,67,L,L,...,L,W,L,D,L,W,36,55,57,24
361,2007-05-05,Man City,Man United,0,1,A,42,88,L,W,...,L,D,D,W,W,L,28,83,41,26
362,2007-05-05,Newcastle,Blackburn,0,2,A,42,50,L,W,...,L,D,D,W,W,L,37,48,44,50
363,2007-05-05,Reading,Watford,0,2,A,54,24,W,L,...,W,L,D,W,L,L,49,26,42,58
364,2007-05-05,West Ham,Bolton,3,1,H,35,55,W,D,...,L,L,L,D,W,W,31,44,58,47
365,2007-05-05,Wigan,Middlesbrough,0,1,A,35,40,L,L,...,D,L,D,L,L,W,35,40,57,48
366,2007-05-06,Arsenal,Chelsea,1,1,D,66,81,W,D,...,W,D,W,W,D,W,62,63,34,23
367,2007-05-07,Charlton,Tottenham,0,2,A,33,56,L,W,...,L,D,D,D,D,L,32,54,56,52
368,2007-05-09,Chelsea,Man United,0,0,D,81,88,D,W,...,D,D,W,W,W,L,63,83,23,26
369,2007-05-10,Tottenham,Blackburn,1,1,D,56,50,W,W,...,D,D,D,W,L,L,54,48,52,50
370,2007-05-13,Blackburn,Reading,3,3,D,51,54,D,L,...,W,W,D,W,W,D,49,49,51,44
371,2007-05-13,Bolton,Aston Villa,2,2,D,55,49,L,W,...,L,D,L,W,D,D,45,41,50,39
372,2007-05-13,Chelsea,Everton,1,1,D,82,57,D,W,...,D,L,D,W,W,D,63,51,23,35
373,2007-05-13,Liverpool,Charlton,2,2,D,67,33,L,L,...,W,D,W,L,D,D,55,32,25,58
374,2007-05-13,Man United,West Ham,0,1,A,89,38,D,W,...,W,W,D,L,W,L,83,34,26,59
375,2007-05-13,Middlesbrough,Fulham,3,1,H,43,39,W,W,...,D,D,L,L,L,L,41,37,48,57
376,2007-05-13,Portsmouth,Arsenal,0,0,D,53,67,L,D,...,D,D,W,W,L,W,45,63,42,35
377,2007-05-13,Sheffield United,Wigan,1,2,A,38,35,L,L,...,D,L,L,D,W,D,31,35,53,58
378,2007-05-13,Tottenham,Man City,2,1,H,57,42,D,L,...,W,D,D,L,D,D,55,28,53,42
379,2007-05-13,Watford,Newcastle,1,1,D,27,42,W,L,...,D,D,L,L,W,D,28,37,58,46

In [13]:
# Set the Teams Form

def get_form(playing_stat,num):
    teams = 20
    matchWeeks = 39
    
    form = get_matchres(playing_stat, matchWeeks)
    form_final = form.copy()
    for i in range(num, matchWeeks):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1           
    return form_final


def set_form(playing_stat, formCount=5):
    for num in range(1, formCount + 1):
        form = get_form(playing_stat,num)
        h = ['M' for i in range(num * 10)]  # since form is not available for n MW (n*10)
        a = ['M' for i in range(num * 10)]

        j = num
        for i in range((num*10), len(playing_stat)):
            ht = playing_stat.iloc[i].HomeTeam
            at = playing_stat.iloc[i].AwayTeam

            past = form.loc[ht][j]               # get past n results
            h.append(past[num-1])                    # 0 index is most recent

            past = form.loc[at][j]               # get past n results.
            a.append(past[num-1])                   # 0 index is most recent

            if ((i + 1)% 10) == 0:
                j = j + 1

        playing_stat['HM' + str(num)] = h                 
        playing_stat['AM' + str(num)] = a


# Apply to each dataset
for i, season in enumerate(filtered_data):
    set_form(filtered_data[i])
    
# Rearange the columns
cols = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3',
        'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5' ]

for i, season in enumerate(filtered_data):
    filtered_data[i] = filtered_data[i][cols]

filtered_data[0].tail(n=5)

c:\users\matt\envs\jupyter-notebook\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\matt\envs\jupyter-notebook\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5
375,2007-05-13,Middlesbrough,Fulham,3,1,H,41,37,48,57,...,W,L,D,L,L,W,L,D,L,L
376,2007-05-13,Portsmouth,Arsenal,0,0,D,45,63,42,35,...,L,W,D,W,L,D,W,D,W,W
377,2007-05-13,Sheffield United,Wigan,1,2,A,31,35,53,58,...,L,W,D,L,W,L,L,L,D,D
378,2007-05-13,Tottenham,Man City,2,1,H,55,28,53,42,...,D,W,W,D,D,L,L,D,L,D
379,2007-05-13,Watford,Newcastle,1,1,D,28,37,58,46,...,W,L,D,L,W,L,L,D,L,D

In [13]:
# Set the Matchweek

def set_week(playing_stat):
    j = 1
    week = []
    for i in range( len(playing_stat) ):
        week.append(j)
        if ((i + 1)% 10) == 0:
            j = j + 1
    playing_stat['MW'] = week


# Apply to each dataset
for i, season in enumerate(filtered_data):
    set_week(filtered_data[i])

filtered_data[0]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,MW
0,2006-08-19,Arsenal,Aston Villa,1,1,D,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
1,2006-08-19,Bolton,Tottenham,2,0,H,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
2,2006-08-19,Everton,Watford,2,1,H,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
3,2006-08-19,Newcastle,Wigan,2,1,H,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
4,2006-08-19,Portsmouth,Blackburn,3,0,H,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
5,2006-08-19,Reading,Middlesbrough,3,2,H,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
6,2006-08-19,Sheffield United,Liverpool,1,1,D,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
7,2006-08-19,West Ham,Charlton,3,1,H,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
8,2006-08-20,Chelsea,Man City,3,0,H,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
9,2006-08-20,Man United,Fulham,5,1,H,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
10,2006-08-22,Tottenham,Sheffield United,2,0,H,0,1,2,1,...,M,M,M,M,D,M,M,M,M,2
11,2006-08-22,Watford,West Ham,1,1,D,1,3,2,1,...,M,M,M,M,W,M,M,M,M,2
12,2006-08-23,Aston Villa,Reading,2,1,H,1,3,1,2,...,M,M,M,M,W,M,M,M,M,2
13,2006-08-23,Blackburn,Everton,1,1,D,0,2,3,1,...,M,M,M,M,W,M,M,M,M,2
14,2006-08-23,Charlton,Man United,0,3,A,1,5,3,1,...,M,M,M,M,W,M,M,M,M,2
15,2006-08-23,Fulham,Bolton,1,1,D,1,2,5,0,...,M,M,M,M,W,M,M,M,M,2
16,2006-08-23,Man City,Portsmouth,0,0,D,0,3,3,0,...,M,M,M,M,W,M,M,M,M,2
17,2006-08-23,Middlesbrough,Chelsea,2,1,H,2,3,3,0,...,M,M,M,M,W,M,M,M,M,2
18,2006-08-26,Charlton,Bolton,2,0,H,1,2,3,0,...,M,M,M,M,W,M,M,M,M,2
19,2006-08-26,Fulham,Sheffield United,1,0,H,1,1,5,1,...,M,M,M,M,D,M,M,M,M,2
20,2006-08-26,Liverpool,West Ham,2,1,H,3,4,2,2,...,D,M,M,M,D,W,M,M,M,3
21,2006-08-26,Man City,Arsenal,1,0,H,0,1,3,2,...,L,M,M,M,L,D,M,M,M,3
22,2006-08-26,Tottenham,Everton,0,2,A,2,3,2,2,...,L,M,M,M,D,W,M,M,M,3
23,2006-08-26,Watford,Man United,1,2,A,2,8,3,1,...,L,M,M,M,W,W,M,M,M,3
24,2006-08-26,Wigan,Reading,1,0,H,2,4,2,4,...,L,M,M,M,L,W,M,M,M,3
25,2006-08-27,Aston Villa,Newcastle,2,0,H,3,2,2,3,...,D,M,M,M,L,W,M,M,M,3
26,2006-08-27,Blackburn,Chelsea,0,2,A,1,4,4,2,...,L,M,M,M,L,W,M,M,M,3
27,2006-08-28,Middlesbrough,Portsmouth,0,4,A,4,3,4,0,...,L,M,M,M,D,W,M,M,M,3
28,2006-09-09,Arsenal,Middlesbrough,1,1,D,1,4,2,4,...,D,M,M,M,W,L,M,M,M,3
29,2006-09-09,Bolton,Watford,1,0,H,3,2,1,3,...,W,M,M,M,D,L,M,M,M,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,2007-04-28,Everton,Man United,2,4,A,46,82,31,26,...,W,D,W,D,W,D,W,L,W,36
351,2007-04-28,Man City,Aston Villa,0,2,A,28,36,39,39,...,L,D,W,D,D,W,D,W,D,36
352,2007-04-28,Middlesbrough,Tottenham,2,3,A,38,52,45,52,...,L,L,W,L,W,D,D,L,W,36
353,2007-04-28,Portsmouth,Liverpool,2,1,H,43,54,38,22,...,W,L,W,D,W,W,D,W,W,36
354,2007-04-28,Sheffield United,Watford,1,0,H,30,26,50,57,...,L,W,L,L,D,L,W,L,L,36
355,2007-04-28,Wigan,West Ham,0,3,A,35,28,54,58,...,D,D,L,L,W,L,L,W,W,36
356,2007-04-29,Arsenal,Fulham,3,1,H,59,35,33,54,...,W,W,D,L,D,L,L,L,D,36
357,2007-04-30,Reading,Newcastle,1,0,H,48,37,42,43,...,W,D,L,L,D,L,D,W,L,36
358,2007-05-05,Aston Villa,Sheffield United,3,0,H,36,30,39,50,...,W,D,W,D,D,L,W,L,L,36
359,2007-05-05,Everton,Portsmouth,3,0,H,46,43,31,38,...,W,D,W,D,D,W,L,W,D,36
360,2007-05-05,Fulham,Liverpool,1,0,H,36,55,57,24,...,D,L,L,L,L,W,W,D,W,37
361,2007-05-05,Man City,Man United,0,1,A,28,83,41,26,...,D,L,D,W,W,W,D,W,L,37
362,2007-05-05,Newcastle,Blackburn,0,2,A,37,48,44,50,...,D,L,D,W,W,W,D,W,L,37
363,2007-05-05,Reading,Watford,0,2,A,49,26,42,58,...,W,W,D,L,L,D,L,W,L,37
364,2007-05-05,West Ham,Bolton,3,1,H,31,44,58,47,...,W,L,L,W,D,L,L,D,W,37
365,2007-05-05,Wigan,Middlesbrough,0,1,A,35,40,57,48,...,L,D,D,L,L,D,L,L,W,37
366,2007-05-06,Arsenal,Chelsea,1,1,D,62,63,34,23,...,D,W,W,D,D,D,D,W,W,37
367,2007-05-07,Charlton,Tottenham,0,2,A,32,54,56,52,...,D,L,D,D,W,W,D,D,L,37
368,2007-05-09,Chelsea,Man United,0,0,D,63,83,23,26,...,D,D,W,W,W,W,D,W,L,37
369,2007-05-10,Tottenham,Blackburn,1,1,D,54,48,52,50,...,W,D,D,L,W,W,D,W,L,37
370,2007-05-13,Blackburn,Reading,3,3,D,49,49,51,44,...,W,W,D,W,L,W,W,W,D,38
371,2007-05-13,Bolton,Aston Villa,2,2,D,45,41,50,39,...,D,L,L,D,W,W,D,W,D,38
372,2007-05-13,Chelsea,Everton,1,1,D,63,51,23,35,...,D,D,D,W,W,L,L,W,D,38
373,2007-05-13,Liverpool,Charlton,2,2,D,55,32,25,58,...,L,W,W,D,L,L,D,L,D,38
374,2007-05-13,Man United,West Ham,0,1,A,83,34,26,59,...,W,W,D,W,W,W,W,L,L,38
375,2007-05-13,Middlesbrough,Fulham,3,1,H,41,37,48,57,...,L,D,L,L,W,L,D,L,L,38
376,2007-05-13,Portsmouth,Arsenal,0,0,D,45,63,42,35,...,W,D,W,L,D,W,D,W,W,38
377,2007-05-13,Sheffield United,Wigan,1,2,A,31,35,53,58,...,W,D,L,W,L,L,L,D,D,38
378,2007-05-13,Tottenham,Man City,2,1,H,55,28,53,42,...,W,W,D,D,L,L,D,L,D,38
379,2007-05-13,Watford,Newcastle,1,1,D,28,37,58,46,...,L,D,L,W,L,L,D,L,D,38

In [17]:
# Export to CSV for processing
pd.concat(filtered_data).to_csv(data_loc + "..\\final_dataset.csv")
# df.to_csv(loc + "final_dataset.csv")