In [54]:
# import all the necessary libraries

import numpy as np
import pandas as pd
from datetime import datetime as dt
import itertools
from collections import defaultdict

# %matplotlib inline

In [55]:
# Read the data from a csv to a Pandas dataframe

data_loc = "C:\\Users\\matt\\jupyter-notebooks\\predicting-soccer\\data\\"

raw_data = []

raw_data.append(pd.read_csv(data_loc + '0607-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '0708-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '0809-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '0910-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1011-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1112-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1213-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1314-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1415-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1516-E0.csv'))
raw_data.append(pd.read_csv(data_loc + '1617-E0.csv'))

In [56]:
# Parse date string data as time date format

def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, "%d/%m/%y").date()
            
for year in raw_data:
    year.Date = year.Date.apply(parse_date)

In [57]:
# Filter the data points related to the gameplay

filtered_data = []
columns_req = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']

for year in raw_data:
    filtered_data.append(year[columns_req])

# filtered_data[0]

In [58]:
# # Optimise the column naming structure for grouping using pandas groupby method

# for i, season in enumerate(filtered_data):
#     filtered_data[i].columns = [[    '', 'Home', 'Away', 'Home', 'Away',    ''],
#                                 ['Date', 'Team', 'Team',  'FTG',  'FTG', 'FTR']]

# filtered_data[0].head(n=5)

In [60]:
def goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)

    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    matchWeeks = int( len(playing_stat) / len(teams) * 2 ) + 1
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1, matchWeeks)]).T
    GoalsConceded[0] = 0

    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]

    return GoalsConceded


def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)

    j = 0
    HTGC = []
    ATGC = []
    
    matchRounds = len(playing_stat) 
    
    for i in range(matchRounds):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
#         HTGS.append(GS.loc[ht][j])
#         ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
        
#     playing_stat['HTGS'] = HTGS
#     playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat


# Apply to the filtered dataset
for i, season in enumerate(filtered_data):
    GC = get_gss(filtered_data[i])
    print(GC)

c:\users\matt\envs\jupyter-notebook\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\matt\envs\jupyter-notebook\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

           Date          HomeTeam          AwayTeam  FTHG  FTAG FTR  HTGC  \
0    2006-08-19           Arsenal       Aston Villa     1     1   D     0
1    2006-08-19            Bolton         Tottenham     2     0   H     0
2    2006-08-19           Everton           Watford     2     1   H     0
3    2006-08-19         Newcastle             Wigan     2     1   H     0
4    2006-08-19        Portsmouth         Blackburn     3     0   H     0
5    2006-08-19           Reading     Middlesbrough     3     2   H     0
6    2006-08-19  Sheffield United         Liverpool     1     1   D     0
7    2006-08-19          West Ham          Charlton     3     1   H     0
8    2006-08-20           Chelsea          Man City     3     0   H     0
9    2006-08-20        Man United            Fulham     5     1   H     0
10   2006-08-22         Tottenham  Sheffield United     2     0   H     2
11   2006-08-22           Watford          West Ham     1     1   D     2
12   2006-08-23       Aston Villa           Reading     2     1   H     1
13   2006-08-23         Blackburn           Everton     1     1   D     3
14   2006-08-23          Charlton        Man United     0     3   A     3
15   2006-08-23            Fulham            Bolton     1     1   D     5
16   2006-08-23          Man City        Portsmouth     0     0   D     3
17   2006-08-23     Middlesbrough           Chelsea     2     1   H     3
18   2006-08-26          Charlton            Bolton     2     0   H     3
19   2006-08-26            Fulham  Sheffield United     1     0   H     5
20   2006-08-26         Liverpool          West Ham     2     1   H     2
21   2006-08-26          Man City           Arsenal     1     0   H     3
22   2006-08-26         Tottenham           Everton     0     2   A     2
23   2006-08-26           Watford        Man United     1     2   A     3
24   2006-08-26             Wigan           Reading     1     0   H     2
25   2006-08-27       Aston Villa         Newcastle     2     0   H     2
26   2006-08-27         Blackburn           Chelsea     0     2   A     4
27   2006-08-28     Middlesbrough        Portsmouth     0     4   A     4
28   2006-09-09           Arsenal     Middlesbrough     1     1   D     2
29   2006-09-09            Bolton           Watford     1     0   H     1
..          ...               ...               ...   ...   ...  ..   ...
350  2007-04-28           Everton        Man United     2     4   A    31
351  2007-04-28          Man City       Aston Villa     0     2   A    39
352  2007-04-28     Middlesbrough         Tottenham     2     3   A    45
353  2007-04-28        Portsmouth         Liverpool     2     1   H    38
354  2007-04-28  Sheffield United           Watford     1     0   H    50
355  2007-04-28             Wigan          West Ham     0     3   A    54
356  2007-04-29           Arsenal            Fulham     3     1   H    33
357  2007-04-30           Reading         Newcastle     1     0   H    42
358  2007-05-05       Aston Villa  Sheffield United     3     0   H    39
359  2007-05-05           Everton        Portsmouth     3     0   H    31
360  2007-05-05            Fulham         Liverpool     1     0   H    57
361  2007-05-05          Man City        Man United     0     1   A    41
362  2007-05-05         Newcastle         Blackburn     0     2   A    44
363  2007-05-05           Reading           Watford     0     2   A    42
364  2007-05-05          West Ham            Bolton     3     1   H    58
365  2007-05-05             Wigan     Middlesbrough     0     1   A    57
366  2007-05-06           Arsenal           Chelsea     1     1   D    34
367  2007-05-07          Charlton         Tottenham     0     2   A    56
368  2007-05-09           Chelsea        Man United     0     0   D    23
369  2007-05-10         Tottenham         Blackburn     1     1   D    52
370  2007-05-13         Blackburn           Reading     3     3   D    51
371  2007-05-13            Bolton       Aston Villa     2     2   D    50
372  2007-05-13           Chelsea           Everton     1     1   D    23
373  2007-05-13         Liverpool          Charlton     2     2   D    25
374  2007-05-13        Man United          West Ham     0     1   A    26
375  2007-05-13     Middlesbrough            Fulham     3     1   H    48
376  2007-05-13        Portsmouth           Arsenal     0     0   D    42
377  2007-05-13  Sheffield United             Wigan     1     2   A    53
378  2007-05-13         Tottenham          Man City     2     1   H    53
379  2007-05-13           Watford         Newcastle     1     1   D    58

     ATGC
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      1
11      1
12      2
13      1
14      1
15      0
16      0
17      0
18      0
19      1
20      2
21      2
22      2
23      1
24      4
25      3
26      2
27      0
28      4
29      3
..    ...
350    26
351    39
352    52
353    22
354    57
355    58
356    54
357    43
358    50
359    38
360    24
361    26
362    50
363    58
364    47
365    48
366    23
367    52
368    26
369    50
370    44
371    39
372    35
373    58
374    59
375    57
376    35
377    58
378    42
379    46

[380 rows x 8 columns]
           Date       HomeTeam       AwayTeam  FTHG  FTAG FTR  HTGC  ATGC
0    2007-08-11    Aston Villa      Liverpool     1     2   A     0     0
1    2007-08-11         Bolton      Newcastle     1     3   A     0     0
2    2007-08-11          Derby     Portsmouth     2     2   D     0     0
3    2007-08-11        Everton          Wigan     2     1   H     0     0
4    2007-08-11  Middlesbrough      Blackburn     1     2   A     0     0
5    2007-08-11     Sunderland      Tottenham     1     0   H     0     0
6    2007-08-11       West Ham       Man City     0     2   A     0     0
7    2007-08-12        Arsenal         Fulham     2     1   H     0     0
8    2007-08-12        Chelsea     Birmingham     3     2   H     0     0
9    2007-08-12     Man United        Reading     0     0   D     0     0
10   2007-08-14      Tottenham        Everton     1     3   A     1     1
11   2007-08-15     Birmingham     Sunderland     2     2   D     3     0
12   2007-08-15         Fulham         Bolton     2     1   H     2     3
13   2007-08-15       Man City          Derby     1     0   H     0     2
14   2007-08-15     Portsmouth     Man United     1     1   D     2     0
15   2007-08-15        Reading        Chelsea     1     2   A     0     2
16   2007-08-15          Wigan  Middlesbrough     1     0   H     2     2
17   2007-08-18     Birmingham       West Ham     0     1   A     3     2
18   2007-08-18         Fulham  Middlesbrough     1     2   A     2     2
19   2007-08-18      Newcastle    Aston Villa     0     0   D     1     2
20   2007-08-18     Portsmouth         Bolton     3     1   H     3     5
21   2007-08-18        Reading        Everton     1     0   H     2     2
22   2007-08-18      Tottenham          Derby     4     0   H     4     3
23   2007-08-18          Wigan     Sunderland     3     0   H     2     2
24   2007-08-19      Blackburn        Arsenal     1     1   D     2     2
25   2007-08-19      Liverpool        Chelsea     1     1   D     2     3
26   2007-08-19       Man City     Man United     1     0   H     0     1
27   2007-08-25        Arsenal       Man City     1     0   H     2     0
28   2007-08-25    Aston Villa         Fulham     2     1   H     2     3
29   2007-08-25         Bolton        Reading     3     0   H     5     2
..          ...            ...            ...   ...   ...  ..   ...   ...
350  2008-04-26     Birmingham      Liverpool     2     2   D    57    26
351  2008-04-26        Chelsea     Man United     2     1   H    24    19
352  2008-04-26       Man City         Fulham     2     3   A    41    58
353  2008-04-26     Sunderland  Middlesbrough     3     2   H    54    49
354  2008-04-26      Tottenham         Bolton     1     1   D    58    52
355  2008-04-26       West Ham      Newcastle     2     2   D    42    58
356  2008-04-26          Wigan        Reading     0     0   D    49    65
357  2008-04-27        Everton    Aston Villa     2     2   D    29    45
358  2008-04-27     Portsmouth      Blackburn     0     1   A    36    43
359  2008-04-28          Derby        Arsenal     2     6   A    76    29
360  2008-05-03    Aston Villa          Wigan     0     2   A    47    49
361  2008-05-03      Blackburn          Derby     3     1   H    43    82
362  2008-05-03         Bolton     Sunderland     2     0   H    53    56
363  2008-05-03         Fulham     Birmingham     2     0   H    60    59
364  2008-05-03     Man United       West Ham     4     1   H    21    44
365  2008-05-03  Middlesbrough     Portsmouth     2     0   H    52    37
366  2008-05-03        Reading      Tottenham     0     1   A    65    59
367  2008-05-04        Arsenal        Everton     1     0   H    31    31
368  2008-05-04      Liverpool       Man City     1     0   H    28    44
369  2008-05-05      Newcastle        Chelsea     0     2   A    60    25
370  2008-05-11     Birmingham      Blackburn     4     1   H    61    44
371  2008-05-11        Chelsea         Bolton     1     1   D    25    53
372  2008-05-11          Derby        Reading     0     4   A    85    66
373  2008-05-11        Everton      Newcastle     3     1   H    32    62
374  2008-05-11  Middlesbrough       Man City     8     1   H    52    45
375  2008-05-11     Portsmouth         Fulham     0     1   A    39    60
376  2008-05-11     Sunderland        Arsenal     0     1   A    58    31
377  2008-05-11      Tottenham      Liverpool     0     2   A    59    28
378  2008-05-11       West Ham    Aston Villa     2     2   D    48    49
379  2008-05-11          Wigan     Man United     0     2   A    49    22

[380 rows x 8 columns]

           Date       HomeTeam       AwayTeam  FTHG  FTAG FTR  HTGC  ATGC
0    2008-08-16        Arsenal      West Brom     1     0   H     0     0
1    2008-08-16         Bolton          Stoke     3     1   H     0     0
2    2008-08-16        Everton      Blackburn     2     3   A     0     0
3    2008-08-16           Hull         Fulham     2     1   H     0     0
4    2008-08-16  Middlesbrough      Tottenham     2     1   H     0     0
5    2008-08-16     Sunderland      Liverpool     0     1   A     0     0
6    2008-08-16       West Ham          Wigan     2     1   H     0     0
7    2008-08-17    Aston Villa       Man City     4     2   H     0     0
8    2008-08-17        Chelsea     Portsmouth     4     0   H     0     0
9    2008-08-17     Man United      Newcastle     1     1   D     0     0
10   2008-08-23      Blackburn           Hull     1     1   D     2     1
11   2008-08-23         Fulham        Arsenal     1     0   H     2     0
12   2008-08-23      Liverpool  Middlesbrough     2     1   H     0     1
13   2008-08-23      Newcastle         Bolton     1     0   H     1     1
14   2008-08-23          Stoke    Aston Villa     3     2   H     3     2
15   2008-08-23      Tottenham     Sunderland     1     2   A     2     1
16   2008-08-23      West Brom        Everton     1     2   A     1     3
17   2008-08-24       Man City       West Ham     3     0   H     4     1
18   2008-08-24          Wigan        Chelsea     0     1   A     2     0
19   2008-08-25     Portsmouth     Man United     0     1   A     4     1
20   2008-08-30        Arsenal      Newcastle     3     0   H     1     1
21   2008-08-30         Bolton      West Brom     0     0   D     2     3
22   2008-08-30        Everton     Portsmouth     0     3   A     4     5
23   2008-08-30           Hull          Wigan     0     5   A     2     3
24   2008-08-30  Middlesbrough          Stoke     2     1   H     3     5
25   2008-08-30       West Ham      Blackburn     4     1   H     4     3
26   2008-08-31    Aston Villa      Liverpool     0     0   D     5     1
27   2008-08-31        Chelsea      Tottenham     1     1   D     0     4
28   2008-08-31     Sunderland       Man City     0     3   A     2     4
29   2008-09-13      Blackburn        Arsenal     0     4   A     3     1
..          ...            ...            ...   ...   ...  ..   ...   ...
350  2009-05-09         Bolton     Sunderland     0     0   D    51    48
351  2009-05-09        Everton      Tottenham     0     0   D    36    41
352  2009-05-09         Fulham    Aston Villa     3     1   H    31    44
353  2009-05-09           Hull          Stoke     1     2   A    60    50
354  2009-05-09      West Brom          Wigan     3     1   H    64    41
355  2009-05-09       West Ham      Liverpool     0     3   A    38    26
356  2009-05-10        Arsenal        Chelsea     1     4   A    32    21
357  2009-05-10     Man United       Man City     2     0   H    23    46
358  2009-05-11      Newcastle  Middlesbrough     3     1   H    56    51
359  2009-05-13          Wigan     Man United     1     2   A    41    23
360  2009-05-16         Bolton           Hull     1     1   D    51    62
361  2009-05-16        Everton       West Ham     3     1   H    36    41
362  2009-05-16     Man United        Arsenal     0     0   D    24    36
363  2009-05-16  Middlesbrough    Aston Villa     1     1   D    54    47
364  2009-05-16      Newcastle         Fulham     0     1   A    57    32
365  2009-05-16          Stoke          Wigan     2     0   H    51    43
366  2009-05-16      Tottenham       Man City     2     1   H    41    48
367  2009-05-17        Chelsea      Blackburn     2     0   H    22    58
368  2009-05-17      West Brom      Liverpool     0     2   A    65    26
369  2009-05-18     Portsmouth     Sunderland     3     1   H    55    48
370  2009-05-24        Arsenal          Stoke     4     1   H    36    51
371  2009-05-24    Aston Villa      Newcastle     1     0   H    48    58
372  2009-05-24      Blackburn      West Brom     0     0   D    60    67
373  2009-05-24         Fulham        Everton     0     2   A    32    37
374  2009-05-24           Hull     Man United     0     1   A    63    24
375  2009-05-24      Liverpool      Tottenham     3     1   H    26    42
376  2009-05-24       Man City         Bolton     1     0   H    50    52
377  2009-05-24     Sunderland        Chelsea     2     3   A    51    22
378  2009-05-24       West Ham  Middlesbrough     2     1   H    44    55
379  2009-05-24          Wigan     Portsmouth     1     0   H    45    56

[380 rows x 8 columns]
           Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTGC  ATGC
0    2009-08-15  Aston Villa        Wigan     0     2   A     0     0
1    2009-08-15    Blackburn     Man City     0     2   A     0     0
2    2009-08-15       Bolton   Sunderland     0     1   A     0     0
3    2009-08-15      Chelsea         Hull     2     1   H     0     0
4    2009-08-15      Everton      Arsenal     1     6   A     0     0
5    2009-08-15   Portsmouth       Fulham     0     1   A     0     0
6    2009-08-15        Stoke      Burnley     2     0   H     0     0
7    2009-08-15       Wolves     West Ham     0     2   A     0     0
8    2009-08-16   Man United   Birmingham     1     0   H     0     0
9    2009-08-16    Tottenham    Liverpool     2     1   H     0     0
10   2009-08-18   Sunderland      Chelsea     1     3   A     0     1
11   2009-08-18        Wigan       Wolves     0     1   A     0     2
12   2009-08-19   Birmingham   Portsmouth     1     0   H     1     1
13   2009-08-19      Burnley   Man United     1     0   H     2     0
14   2009-08-19         Hull    Tottenham     1     5   A     2     1
15   2009-08-19    Liverpool        Stoke     4     0   H     2     0
16   2009-08-22      Arsenal   Portsmouth     4     1   H     1     1
17   2009-08-22   Birmingham        Stoke     0     0   D     1     0
18   2009-08-22         Hull       Bolton     1     0   H     2     1
19   2009-08-22     Man City       Wolves     1     0   H     0     2
20   2009-08-22   Sunderland    Blackburn     2     1   H     3     4
21   2009-08-22        Wigan   Man United     0     5   A     1     1
22   2009-08-23      Burnley      Everton     1     0   H     2     7
23   2009-08-23       Fulham      Chelsea     0     2   A     2     2
24   2009-08-23     West Ham    Tottenham     1     2   A     2     2
25   2009-08-24    Liverpool  Aston Villa     1     3   A     2     3
26   2009-08-29    Blackburn     West Ham     0     0   D     4     2
27   2009-08-29       Bolton    Liverpool     2     3   A     2     2
28   2009-08-29      Chelsea      Burnley     3     0   H     2     2
29   2009-08-29   Man United      Arsenal     2     1   H     1     2
..          ...          ...          ...   ...   ...  ..   ...   ...
350  2010-04-24         Hull   Sunderland     0     1   A    72    53
351  2010-04-24   Man United    Tottenham     3     1   H    27    37
352  2010-04-24     West Ham        Wigan     3     2   H    60    66
353  2010-04-24       Wolves    Blackburn     1     1   D    51    53
354  2010-04-25  Aston Villa   Birmingham     1     0   H    35    43
355  2010-04-25      Burnley    Liverpool     0     4   A    74    33
356  2010-04-25      Chelsea        Stoke     7     0   H    32    44
357  2010-04-25      Everton       Fulham     2     1   H    48    39
358  2010-05-01   Birmingham      Burnley     2     1   H    43    74
359  2010-05-01     Man City  Aston Villa     3     1   H    42    35
360  2010-05-01   Portsmouth       Wolves     3     1   H    64    52
361  2010-05-01        Stoke      Everton     0     0   D    44    49
362  2010-05-01    Tottenham       Bolton     1     0   H    37    65
363  2010-05-02       Fulham     West Ham     3     2   H    41    62
364  2010-05-02    Liverpool      Chelsea     0     2   A    33    32
365  2010-05-02   Sunderland   Man United     0     1   A    53    28
366  2010-05-03    Blackburn      Arsenal     2     1   H    54    39
367  2010-05-03        Wigan         Hull     2     2   D    69    73
368  2010-05-05       Fulham        Stoke     0     1   A    41    44
369  2010-05-05     Man City    Tottenham     0     1   A    43    37
370  2010-05-09      Arsenal       Fulham     4     0   H    41    42
371  2010-05-09  Aston Villa    Blackburn     0     1   A    38    55
372  2010-05-09       Bolton   Birmingham     2     1   H    66    45
373  2010-05-09      Burnley    Tottenham     4     2   H    80    37
374  2010-05-09      Chelsea        Wigan     8     0   H    32    71
375  2010-05-09      Everton   Portsmouth     1     0   H    49    65
376  2010-05-09         Hull    Liverpool     0     0   D    75    35
377  2010-05-09   Man United        Stoke     4     0   H    28    44
378  2010-05-09     West Ham     Man City     1     1   D    65    44
379  2010-05-09       Wolves   Sunderland     2     1   H    55    54

[380 rows x 8 columns]

           Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTGC  ATGC
0    2010-08-14  Aston Villa     West Ham     3     0   H     0     0
1    2010-08-14    Blackburn      Everton     1     0   H     0     0
2    2010-08-14       Bolton       Fulham     0     0   D     0     0
3    2010-08-14      Chelsea    West Brom     6     0   H     0     0
4    2010-08-14   Sunderland   Birmingham     2     2   D     0     0
5    2010-08-14    Tottenham     Man City     0     0   D     0     0
6    2010-08-14        Wigan    Blackpool     0     4   A     0     0
7    2010-08-14       Wolves        Stoke     2     1   H     0     0
8    2010-08-15    Liverpool      Arsenal     1     1   D     0     0
9    2010-08-16   Man United    Newcastle     3     0   H     0     0
10   2010-08-21      Arsenal    Blackpool     6     0   H     1     0
11   2010-08-21   Birmingham    Blackburn     2     1   H     2     0
12   2010-08-21      Everton       Wolves     1     1   D     1     1
13   2010-08-21        Stoke    Tottenham     1     2   A     2     0
14   2010-08-21    West Brom   Sunderland     1     0   H     6     2
15   2010-08-21     West Ham       Bolton     1     3   A     3     0
16   2010-08-21        Wigan      Chelsea     0     6   A     4     0
17   2010-08-22       Fulham   Man United     2     2   D     0     0
18   2010-08-22    Newcastle  Aston Villa     6     0   H     3     0
19   2010-08-23     Man City    Liverpool     3     0   H     0     1
20   2010-08-28    Blackburn      Arsenal     1     2   A     2     1
21   2010-08-28    Blackpool       Fulham     2     2   D     6     2
22   2010-08-28      Chelsea        Stoke     2     0   H     0     4
23   2010-08-28   Man United     West Ham     3     0   H     2     6
24   2010-08-28    Tottenham        Wigan     0     1   A     1    10
25   2010-08-28       Wolves    Newcastle     1     1   D     2     3
26   2010-08-29  Aston Villa      Everton     1     0   H     6     2
27   2010-08-29       Bolton   Birmingham     2     2   D     1     3
28   2010-08-29    Liverpool    West Brom     1     0   H     4     6
29   2010-08-29   Sunderland     Man City     1     0   H     3     0
..          ...          ...          ...   ...   ...  ..   ...   ...
350  2011-05-07       Bolton   Sunderland     1     2   A    48    52
351  2011-05-07      Everton     Man City     2     1   H    43    33
352  2011-05-07    Newcastle   Birmingham     2     1   H    51    52
353  2011-05-07    Tottenham    Blackpool     1     1   D    44    70
354  2011-05-07     West Ham    Blackburn     1     1   D    63    55
355  2011-05-08   Man United      Chelsea     2     1   H    33    28
356  2011-05-08        Stoke      Arsenal     3     1   H    43    36
357  2011-05-08       Wolves    West Brom     3     1   H    61    65
358  2011-05-09       Fulham    Liverpool     2     5   A    36    39
359  2011-05-10     Man City    Tottenham     1     0   H    33    44
360  2011-05-14    Blackburn   Man United     1     1   D    56    34
361  2011-05-14    Blackpool       Bolton     4     3   H    71    50
362  2011-05-14   Sunderland       Wolves     1     3   A    53    62
363  2011-05-14    West Brom      Everton     1     0   H    68    44
364  2011-05-15      Arsenal  Aston Villa     1     2   A    39    58
365  2011-05-15   Birmingham       Fulham     0     2   A    54    41
366  2011-05-15      Chelsea    Newcastle     2     2   D    30    52
367  2011-05-15    Liverpool    Tottenham     0     2   A    41    45
368  2011-05-15        Wigan     West Ham     3     2   H    59    64
369  2011-05-17     Man City        Stoke     3     0   H    33    44
370  2011-05-22  Aston Villa    Liverpool     1     0   H    59    43
371  2011-05-22       Bolton     Man City     0     2   A    54    33
372  2011-05-22      Everton      Chelsea     1     0   H    45    32
373  2011-05-22       Fulham      Arsenal     2     2   D    41    41
374  2011-05-22   Man United    Blackpool     4     2   H    35    74
375  2011-05-22    Newcastle    West Brom     3     3   D    54    68
376  2011-05-22        Stoke        Wigan     0     1   A    47    61
377  2011-05-22    Tottenham   Birmingham     2     1   H    45    56
378  2011-05-22     West Ham   Sunderland     0     3   A    67    56
379  2011-05-22       Wolves    Blackburn     2     3   A    63    57

[380 rows x 8 columns]
           Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTGC  ATGC
0    2011-08-13    Blackburn       Wolves     1     2   A     0     0
1    2011-08-13       Fulham  Aston Villa     0     0   D     0     0
2    2011-08-13    Liverpool   Sunderland     1     1   D     0     0
3    2011-08-13    Newcastle      Arsenal     0     0   D     0     0
4    2011-08-13          QPR       Bolton     0     4   A     0     0
5    2011-08-13        Wigan      Norwich     1     1   D     0     0
6    2011-08-14        Stoke      Chelsea     0     0   D     0     0
7    2011-08-14    West Brom   Man United     1     2   A     0     0
8    2011-08-15     Man City      Swansea     4     0   H     0     0
9    2011-08-20      Arsenal    Liverpool     0     2   A     0     0
10   2011-08-20  Aston Villa    Blackburn     3     1   H     0     2
11   2011-08-20      Chelsea    West Brom     2     1   H     0     2
12   2011-08-20      Everton          QPR     0     1   A     1     4
13   2011-08-20   Sunderland    Newcastle     0     1   A     1     0
14   2011-08-20      Swansea        Wigan     0     0   D     4     1
15   2011-08-21       Bolton     Man City     2     3   A     0     0
16   2011-08-21      Norwich        Stoke     1     1   D     1     0
17   2011-08-21       Wolves       Fulham     2     0   H     1     0
18   2011-08-22   Man United    Tottenham     3     0   H     1     3
19   2011-08-27  Aston Villa       Wolves     0     0   D     0     1
20   2011-08-27    Blackburn      Everton     0     1   A     5     1
21   2011-08-27      Chelsea      Norwich     3     1   H     1     2
22   2011-08-27    Liverpool       Bolton     3     1   H     1     3
23   2011-08-27      Swansea   Sunderland     0     0   D     4     2
24   2011-08-27        Wigan          QPR     2     0   H     1     4
25   2011-08-28   Man United      Arsenal     8     2   H     1     2
26   2011-08-28    Newcastle       Fulham     2     1   H     0     2
27   2011-08-28    Tottenham     Man City     1     5   A     8     2
28   2011-08-28    West Brom        Stoke     0     1   A     4     1
29   2011-09-10      Arsenal      Swansea     1     0   H     2     4
..          ...          ...          ...   ...   ...  ..   ...   ...
350  2012-04-28      Swansea       Wolves     4     4   D    45    75
351  2012-04-28    West Brom  Aston Villa     0     0   D    47    50
352  2012-04-28        Wigan    Newcastle     4     0   H    60    46
353  2012-04-29      Chelsea          QPR     6     1   H    39    57
354  2012-04-29    Tottenham    Blackburn     2     0   H    39    73
355  2012-04-30     Man City   Man United     1     0   H    27    32
356  2012-05-01    Liverpool       Fulham     0     1   A    37    48
357  2012-05-01        Stoke      Everton     1     1   D    49    38
358  2012-05-02       Bolton    Tottenham     1     4   A    69    39
359  2012-05-02      Chelsea    Newcastle     0     2   A    39    46
360  2012-05-05      Arsenal      Norwich     3     3   D    44    63
361  2012-05-06  Aston Villa    Tottenham     1     1   D    50    40
362  2012-05-06       Bolton    West Brom     2     2   D    73    47
363  2012-05-06       Fulham   Sunderland     2     1   H    48    43
364  2012-05-06   Man United      Swansea     2     0   H    33    49
365  2012-05-06    Newcastle     Man City     0     2   A    46    27
366  2012-05-06          QPR        Stoke     1     0   H    63    50
367  2012-05-06       Wolves      Everton     0     0   D    79    39
368  2012-05-07    Blackburn        Wigan     0     1   A    75    60
369  2012-05-08    Liverpool      Chelsea     4     1   H    38    41
370  2012-05-13      Chelsea    Blackburn     2     1   H    45    76
371  2012-05-13      Everton    Newcastle     3     1   H    39    48
372  2012-05-13     Man City          QPR     3     2   H    27    63
373  2012-05-13      Norwich  Aston Villa     2     0   H    66    51
374  2012-05-13        Stoke       Bolton     2     2   D    51    75
375  2012-05-13   Sunderland   Man United     0     1   A    45    33
376  2012-05-13      Swansea    Liverpool     1     0   H    51    39
377  2012-05-13    Tottenham       Fulham     2     0   H    41    49
378  2012-05-13    West Brom      Arsenal     2     3   A    49    47
379  2012-05-13        Wigan       Wolves     3     2   H    60    79

[380 rows x 8 columns]

           Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTGC  ATGC
0    2012-08-18      Arsenal   Sunderland     0     0   D     0     0
1    2012-08-18       Fulham      Norwich     5     0   H     0     0
2    2012-08-18    Newcastle    Tottenham     2     1   H     0     0
3    2012-08-18          QPR      Swansea     0     5   A     0     0
4    2012-08-18      Reading        Stoke     1     1   D     0     0
5    2012-08-18    West Brom    Liverpool     3     0   H     0     0
6    2012-08-18     West Ham  Aston Villa     1     0   H     0     0
7    2012-08-19     Man City  Southampton     3     2   H     0     0
8    2012-08-19        Wigan      Chelsea     0     2   A     0     0
9    2012-08-20      Everton   Man United     1     0   H     0     0
10   2012-08-22      Chelsea      Reading     4     2   H     0     1
11   2012-08-25  Aston Villa      Everton     1     3   A     1     0
12   2012-08-25      Chelsea    Newcastle     2     0   H     0     1
13   2012-08-25   Man United       Fulham     3     2   H     1     0
14   2012-08-25      Norwich          QPR     1     1   D     5     5
15   2012-08-25  Southampton        Wigan     0     2   A     3     2
16   2012-08-25      Swansea     West Ham     3     0   H     0     0
17   2012-08-25    Tottenham    West Brom     1     1   D     2     0
18   2012-08-26    Liverpool     Man City     2     2   D     3     2
19   2012-08-26        Stoke      Arsenal     0     0   D     1     0
20   2012-09-01     Man City          QPR     3     1   H     4     6
21   2012-09-01      Swansea   Sunderland     2     2   D     0     2
22   2012-09-01    Tottenham      Norwich     1     1   D     3     6
23   2012-09-01    West Brom      Everton     2     0   H     1     1
24   2012-09-01     West Ham       Fulham     3     0   H     3     3
25   2012-09-01        Wigan        Stoke     2     2   D     2     1
26   2012-09-02    Liverpool      Arsenal     0     2   A     5     0
27   2012-09-02    Newcastle  Aston Villa     1     1   D     3     4
28   2012-09-02  Southampton   Man United     2     3   A     5     3
29   2012-09-15      Arsenal  Southampton     6     1   H     0     5
..          ...          ...          ...   ...   ...  ..   ...   ...
350  2013-05-04      Swansea     Man City     0     0   D    44    31
351  2013-05-04    Tottenham  Southampton     1     0   H    43    57
352  2013-05-04    West Brom        Wigan     2     3   A    47    64
353  2013-05-04     West Ham    Newcastle     0     0   D    49    66
354  2013-05-05    Liverpool      Everton     0     0   D    42    38
355  2013-05-05   Man United      Chelsea     0     1   A    36    35
356  2013-05-06   Sunderland        Stoke     1     1   D    51    41
357  2013-05-07     Man City    West Brom     1     0   H    31    47
358  2013-05-07        Wigan      Swansea     2     3   A    64    44
359  2013-05-08      Chelsea    Tottenham     2     2   D    35    43
360  2013-05-11  Aston Villa      Chelsea     1     2   A    65    37
361  2013-05-12      Everton     West Ham     2     0   H    38    49
362  2013-05-12       Fulham    Liverpool     1     3   A    57    42
363  2013-05-12   Man United      Swansea     2     1   H    37    46
364  2013-05-12      Norwich    West Brom     4     0   H    56    48
365  2013-05-12          QPR    Newcastle     1     2   A    57    66
366  2013-05-12        Stoke    Tottenham     1     2   A    42    45
367  2013-05-12   Sunderland  Southampton     1     1   D    52    58
368  2013-05-14      Arsenal        Wigan     4     1   H    36    67
369  2013-05-14      Reading     Man City     0     2   A    67    31
370  2013-05-19      Chelsea      Everton     2     1   H    38    38
371  2013-05-19    Liverpool          QPR     1     0   H    43    59
372  2013-05-19     Man City      Norwich     2     3   A    31    56
373  2013-05-19    Newcastle      Arsenal     0     1   A    67    37
374  2013-05-19  Southampton        Stoke     1     1   D    59    44
375  2013-05-19      Swansea       Fulham     0     3   A    48    60
376  2013-05-19    Tottenham   Sunderland     1     0   H    46    53
377  2013-05-19    West Brom   Man United     5     5   D    52    38
378  2013-05-19     West Ham      Reading     4     2   H    51    69
379  2013-05-19        Wigan  Aston Villa     2     2   D    71    67

[380 rows x 8 columns]
           Date        HomeTeam        AwayTeam  FTHG  FTAG FTR  HTGC  ATGC
0    2013-08-17         Arsenal     Aston Villa     1     3   A     0     0
1    2013-08-17       Liverpool           Stoke     1     0   H     0     0
2    2013-08-17         Norwich         Everton     2     2   D     0     0
3    2013-08-17      Sunderland          Fulham     0     1   A     0     0
4    2013-08-17         Swansea      Man United     1     4   A     0     0
5    2013-08-17       West Brom     Southampton     0     1   A     0     0
6    2013-08-17        West Ham         Cardiff     2     0   H     0     0
7    2013-08-18         Chelsea            Hull     2     0   H     0     0
8    2013-08-18  Crystal Palace       Tottenham     0     1   A     0     0
9    2013-08-19        Man City       Newcastle     4     0   H     0     0
10   2013-08-21         Chelsea     Aston Villa     2     1   H     0     1
11   2013-08-24     Aston Villa       Liverpool     0     1   A     1     0
12   2013-08-24         Everton       West Brom     0     0   D     2     1
13   2013-08-24          Fulham         Arsenal     1     3   A     0     3
14   2013-08-24            Hull         Norwich     1     0   H     2     2
15   2013-08-24       Newcastle        West Ham     0     0   D     4     0
16   2013-08-24     Southampton      Sunderland     1     1   D     0     1
17   2013-08-24           Stoke  Crystal Palace     2     1   H     1     1
18   2013-08-25         Cardiff        Man City     3     2   H     2     0
19   2013-08-25       Tottenham         Swansea     1     0   H     0     4
20   2013-08-26      Man United         Chelsea     0     0   D     1     1
21   2013-08-31         Cardiff         Everton     0     0   D     4     2
22   2013-08-31  Crystal Palace      Sunderland     3     1   H     3     2
23   2013-08-31        Man City            Hull     2     0   H     3     2
24   2013-08-31       Newcastle          Fulham     1     0   H     4     3
25   2013-08-31         Norwich     Southampton     1     0   H     3     1
26   2013-08-31        West Ham           Stoke     0     1   A     0     2
27   2013-09-01         Arsenal       Tottenham     1     0   H     4     0
28   2013-09-01       Liverpool      Man United     1     0   H     0     1
29   2013-09-01       West Brom         Swansea     0     2   A     1     5
..          ...             ...             ...   ...   ...  ..   ...   ...
350  2014-04-26           Stoke       Tottenham     0     1   A    49    49
351  2014-04-26         Swansea     Aston Villa     4     1   H    51    53
352  2014-04-26       West Brom        West Ham     1     0   H    54    48
353  2014-04-27  Crystal Palace        Man City     0     2   A    41    35
354  2014-04-27       Liverpool         Chelsea     0     2   A    44    26
355  2014-04-27      Sunderland         Cardiff     4     0   H    57    65
356  2014-04-28         Arsenal       Newcastle     3     0   H    41    54
357  2014-05-03     Aston Villa            Hull     3     1   H    53    45
358  2014-05-03         Everton        Man City     2     3   A    34    35
359  2014-05-03      Man United      Sunderland     0     1   A    40    57
360  2014-05-03       Newcastle         Cardiff     3     0   H    57    69
361  2014-05-03           Stoke          Fulham     4     1   H    50    79
362  2014-05-03         Swansea     Southampton     0     1   A    52    45
363  2014-05-03        West Ham       Tottenham     2     0   H    49    49
364  2014-05-04         Arsenal       West Brom     1     0   H    41    55
365  2014-05-04         Chelsea         Norwich     0     0   D    26    60
366  2014-05-05  Crystal Palace       Liverpool     3     3   D    43    46
367  2014-05-06      Man United            Hull     3     1   H    41    48
368  2014-05-07        Man City     Aston Villa     4     0   H    37    54
369  2014-05-07      Sunderland       West Brom     2     0   H    57    55
370  2014-05-11         Cardiff         Chelsea     1     2   A    72    26
371  2014-05-11          Fulham  Crystal Palace     2     2   D    83    46
372  2014-05-11            Hull         Everton     0     2   A    51    39
373  2014-05-11       Liverpool       Newcastle     2     1   H    49    57
374  2014-05-11        Man City        West Ham     2     0   H    37    49
375  2014-05-11         Norwich         Arsenal     0     2   A    60    41
376  2014-05-11     Southampton      Man United     1     1   D    45    42
377  2014-05-11      Sunderland         Swansea     1     3   A    57    53
378  2014-05-11       Tottenham     Aston Villa     3     0   H    51    58
379  2014-05-11       West Brom           Stoke     1     2   A    57    51

[380 rows x 8 columns]

           Date        HomeTeam        AwayTeam  FTHG  FTAG FTR  HTGC  ATGC
0    2014-08-16         Arsenal  Crystal Palace     2     1   H     0     0
1    2014-08-16       Leicester         Everton     2     2   D     0     0
2    2014-08-16      Man United         Swansea     1     2   A     0     0
3    2014-08-16             QPR            Hull     0     1   A     0     0
4    2014-08-16           Stoke     Aston Villa     0     1   A     0     0
5    2014-08-16       West Brom      Sunderland     2     2   D     0     0
6    2014-08-16        West Ham       Tottenham     0     1   A     0     0
7    2014-08-17       Liverpool     Southampton     2     1   H     0     0
8    2014-08-17       Newcastle        Man City     0     2   A     0     0
9    2014-08-18         Burnley         Chelsea     1     3   A     0     0
10   2014-08-23     Aston Villa       Newcastle     0     0   D     0     2
11   2014-08-23         Chelsea       Leicester     2     0   H     1     2
12   2014-08-23  Crystal Palace        West Ham     1     3   A     2     1
13   2014-08-23         Everton         Arsenal     2     2   D     2     1
14   2014-08-23     Southampton       West Brom     0     0   D     2     2
15   2014-08-23         Swansea         Burnley     1     0   H     1     3
16   2014-08-24            Hull           Stoke     1     1   D     0     1
17   2014-08-24      Sunderland      Man United     1     1   D     2     2
18   2014-08-24       Tottenham             QPR     4     0   H     0     1
19   2014-08-25        Man City       Liverpool     3     1   H     0     1
20   2014-08-30         Burnley      Man United     0     0   D     4     3
21   2014-08-30         Everton         Chelsea     3     6   A     4     1
22   2014-08-30        Man City           Stoke     0     1   A     1     2
23   2014-08-30       Newcastle  Crystal Palace     3     3   D     2     5
24   2014-08-30             QPR      Sunderland     1     0   H     5     3
25   2014-08-30         Swansea       West Brom     3     0   H     1     2
26   2014-08-30        West Ham     Southampton     1     3   A     2     2
27   2014-08-31     Aston Villa            Hull     2     1   H     0     1
28   2014-08-31       Leicester         Arsenal     1     1   D     4     3
29   2014-08-31       Tottenham       Liverpool     0     3   A     0     4
..          ...             ...             ...   ...   ...  ..   ...   ...
350  2015-05-09  Crystal Palace      Man United     1     2   A    48    35
351  2015-05-09         Everton      Sunderland     0     2   A    46    50
352  2015-05-09            Hull         Burnley     0     1   A    48    53
353  2015-05-09       Leicester     Southampton     2     0   H    54    28
354  2015-05-09       Newcastle       West Brom     1     1   D    60    46
355  2015-05-09           Stoke       Tottenham     3     0   H    44    50
356  2015-05-10         Chelsea       Liverpool     1     1   D    27    38
357  2015-05-10        Man City             QPR     6     0   H    36    61
358  2015-05-11         Arsenal         Swansea     0     1   A    34    44
359  2015-05-16         Burnley           Stoke     0     0   D    53    44
360  2015-05-16       Liverpool  Crystal Palace     1     3   A    39    50
361  2015-05-16             QPR       Newcastle     2     1   H    67    61
362  2015-05-16     Southampton     Aston Villa     6     1   H    30    50
363  2015-05-16      Sunderland       Leicester     0     0   D    50    54
364  2015-05-16       Tottenham            Hull     2     0   H    53    49
365  2015-05-16        West Ham         Everton     1     2   A    43    48
366  2015-05-17      Man United         Arsenal     1     1   D    36    35
367  2015-05-17         Swansea        Man City     2     4   A    44    36
368  2015-05-18       West Brom         Chelsea     3     0   H    47    28
369  2015-05-20         Arsenal      Sunderland     0     0   D    35    50
370  2015-05-24         Arsenal       West Brom     4     1   H    35    47
371  2015-05-24     Aston Villa         Burnley     0     1   A    56    53
372  2015-05-24         Chelsea      Sunderland     3     1   H    31    50
373  2015-05-24  Crystal Palace         Swansea     1     0   H    51    48
374  2015-05-24         Everton       Tottenham     0     1   A    49    53
375  2015-05-24            Hull      Man United     0     0   D    51    37
376  2015-05-24       Leicester             QPR     5     1   H    54    68
377  2015-05-24        Man City     Southampton     2     0   H    38    31
378  2015-05-24       Newcastle        West Ham     2     0   H    63    45
379  2015-05-24           Stoke       Liverpool     6     1   H    44    42

[380 rows x 8 columns]
           Date        HomeTeam        AwayTeam  FTHG  FTAG FTR  HTGC  ATGC
0    2015-08-08     Bournemouth     Aston Villa     0     1   A     0     0
1    2015-08-08         Chelsea         Swansea     2     2   D     0     0
2    2015-08-08         Everton         Watford     2     2   D     0     0
3    2015-08-08       Leicester      Sunderland     4     2   H     0     0
4    2015-08-08      Man United       Tottenham     1     0   H     0     0
5    2015-08-08         Norwich  Crystal Palace     1     3   A     0     0
6    2015-08-09         Arsenal        West Ham     0     2   A     0     0
7    2015-08-09       Newcastle     Southampton     2     2   D     0     0
8    2015-08-09           Stoke       Liverpool     0     1   A     0     0
9    2015-08-10       West Brom        Man City     0     3   A     0     0
10   2015-08-14     Aston Villa      Man United     0     1   A     0     0
11   2015-08-15     Southampton         Everton     0     3   A     2     2
12   2015-08-15      Sunderland         Norwich     1     3   A     4     3
13   2015-08-15         Swansea       Newcastle     2     0   H     2     2
14   2015-08-15       Tottenham           Stoke     2     2   D     1     1
15   2015-08-15         Watford       West Brom     0     0   D     2     3
16   2015-08-15        West Ham       Leicester     1     2   A     0     2
17   2015-08-16  Crystal Palace         Arsenal     1     2   A     1     2
18   2015-08-16        Man City         Chelsea     3     0   H     0     2
19   2015-08-17       Liverpool     Bournemouth     1     0   H     0     1
20   2015-08-22  Crystal Palace     Aston Villa     2     1   H     3     1
21   2015-08-22       Leicester       Tottenham     1     1   D     3     3
22   2015-08-22      Man United       Newcastle     0     0   D     0     4
23   2015-08-22         Norwich           Stoke     1     1   D     4     3
24   2015-08-22      Sunderland         Swansea     1     1   D     7     2
25   2015-08-22        West Ham     Bournemouth     3     4   A     2     2
26   2015-08-23         Everton        Man City     0     2   A     2     0
27   2015-08-23         Watford     Southampton     0     0   D     2     5
28   2015-08-23       West Brom         Chelsea     2     3   A     3     5
29   2015-08-24         Arsenal       Liverpool     0     0   D     3     0
..          ...             ...             ...   ...   ...  ..   ...   ...
350  2016-04-30         Watford     Aston Villa     3     2   H    42    69
351  2016-04-30       West Brom        West Ham     0     3   A    43    43
352  2016-05-01      Man United       Leicester     1     1   D    31    33
353  2016-05-01     Southampton        Man City     4     2   H    37    34
354  2016-05-01         Swansea       Liverpool     3     1   H    49    48
355  2016-05-02         Chelsea       Tottenham     2     2   D    48    26
356  2016-05-07     Aston Villa       Newcastle     0     0   D    69    64
357  2016-05-07     Bournemouth       West Brom     1     1   D    61    43
358  2016-05-07  Crystal Palace           Stoke     2     1   H    45    51
359  2016-05-07       Leicester         Everton     3     1   H    33    49
360  2016-05-07         Norwich      Man United     0     1   A    62    31
361  2016-05-07      Sunderland         Chelsea     3     2   H    60    51
362  2016-05-07        West Ham         Swansea     1     4   A    47    50
363  2016-05-08       Liverpool         Watford     2     0   H    48    44
364  2016-05-08        Man City         Arsenal     2     2   D    38    34
365  2016-05-08       Tottenham     Southampton     1     2   A    28    39
366  2016-05-10        West Ham      Man United     3     2   H    47    31
367  2016-05-11       Liverpool         Chelsea     1     1   D    48    51
368  2016-05-11         Norwich         Watford     4     2   H    62    44
369  2016-05-11      Sunderland         Everton     3     0   H    60    52
370  2016-05-15         Arsenal     Aston Villa     4     0   H    36    72
371  2016-05-15         Chelsea       Leicester     1     1   D    52    35
372  2016-05-15         Everton         Norwich     3     0   H    55    64
373  2016-05-15       Newcastle       Tottenham     5     1   H    64    30
374  2016-05-15     Southampton  Crystal Palace     4     1   H    40    47
375  2016-05-15           Stoke        West Ham     2     1   H    54    49
376  2016-05-15         Swansea        Man City     1     1   D    51    40
377  2016-05-15         Watford      Sunderland     2     2   D    48    60
378  2016-05-15       West Brom       Liverpool     1     1   D    47    49
379  2016-05-17      Man United     Bournemouth     3     1   H    34    64

[380 rows x 8 columns]

           Date        HomeTeam        AwayTeam  FTHG  FTAG FTR  HTGC  ATGC
0    2016-08-13         Burnley         Swansea     0     1   A     0     0
1    2016-08-13  Crystal Palace       West Brom     0     1   A     0     0
2    2016-08-13         Everton       Tottenham     1     1   D     0     0
3    2016-08-13            Hull       Leicester     2     1   H     0     0
4    2016-08-13        Man City      Sunderland     2     1   H     0     0
5    2016-08-13   Middlesbrough           Stoke     1     1   D     0     0
6    2016-08-13     Southampton         Watford     1     1   D     0     0
7    2016-08-14         Arsenal       Liverpool     3     4   A     0     0
8    2016-08-14     Bournemouth      Man United     1     3   A     0     0
9    2016-08-15         Chelsea        West Ham     2     1   H     0     0
10   2016-08-19      Man United     Southampton     2     0   H     1     1
11   2016-08-20         Burnley       Liverpool     2     0   H     1     3
12   2016-08-20       Leicester         Arsenal     0     0   D     2     4
13   2016-08-20           Stoke        Man City     1     4   A     1     1
14   2016-08-20         Swansea            Hull     0     2   A     0     1
15   2016-08-20       Tottenham  Crystal Palace     1     0   H     1     1
16   2016-08-20         Watford         Chelsea     1     2   A     1     1
17   2016-08-20       West Brom         Everton     1     2   A     0     1
18   2016-08-21      Sunderland   Middlesbrough     1     2   A     2     1
19   2016-08-21        West Ham     Bournemouth     1     0   H     2     3
20   2016-08-27         Chelsea         Burnley     3     0   H     2     1
21   2016-08-27  Crystal Palace     Bournemouth     1     1   D     2     4
22   2016-08-27         Everton           Stoke     1     0   H     2     5
23   2016-08-27            Hull      Man United     0     1   A     1     1
24   2016-08-27       Leicester         Swansea     2     1   H     2     2
25   2016-08-27     Southampton      Sunderland     1     1   D     3     4
26   2016-08-27       Tottenham       Liverpool     1     1   D     1     5
27   2016-08-27         Watford         Arsenal     1     3   A     3     4
28   2016-08-28        Man City        West Ham     3     1   H     2     2
29   2016-08-28       West Brom   Middlesbrough     0     0   D     2     2
..          ...             ...             ...   ...   ...  ..   ...   ...
350  2017-05-06         Swansea         Everton     1     0   H    69    40
351  2017-05-07         Arsenal      Man United     2     0   H    42    27
352  2017-05-07       Liverpool     Southampton     0     0   D    42    46
353  2017-05-08         Chelsea   Middlesbrough     3     0   H    29    45
354  2017-05-10     Southampton         Arsenal     0     2   A    46    42
355  2017-05-12         Everton         Watford     1     0   H    40    58
356  2017-05-12       West Brom         Chelsea     0     1   A    45    29
357  2017-05-13     Bournemouth         Burnley     2     1   H    63    49
358  2017-05-13        Man City       Leicester     2     1   H    37    54
359  2017-05-13   Middlesbrough     Southampton     1     2   A    45    46
360  2017-05-13           Stoke         Arsenal     1     4   A    52    43
361  2017-05-13      Sunderland         Swansea     0     2   A    62    69
362  2017-05-14  Crystal Palace            Hull     4     0   H    61    69
363  2017-05-14       Tottenham      Man United     2     1   H    24    29
364  2017-05-14        West Ham       Liverpool     0     4   A    59    42
365  2017-05-15         Chelsea         Watford     4     3   H    29    59
366  2017-05-16         Arsenal      Sunderland     2     0   H    43    62
367  2017-05-16        Man City       West Brom     3     1   H    38    46
368  2017-05-17     Southampton      Man United     0     0   D    47    29
369  2017-05-18       Leicester       Tottenham     1     6   A    56    24
370  2017-05-21         Arsenal         Everton     3     1   H    43    41
371  2017-05-21         Burnley        West Ham     1     2   A    53    63
372  2017-05-21         Chelsea      Sunderland     5     1   H    32    64
373  2017-05-21            Hull       Tottenham     1     7   A    73    25
374  2017-05-21       Leicester     Bournemouth     1     1   D    62    66
375  2017-05-21       Liverpool   Middlesbrough     3     0   H    42    50
376  2017-05-21      Man United  Crystal Palace     2     0   H    29    61
377  2017-05-21     Southampton           Stoke     0     1   A    47    56
378  2017-05-21         Swansea       West Brom     2     1   H    69    49
379  2017-05-21         Watford        Man City     0     5   A    63    39

[380 rows x 8 columns]

In [23]:
# #*** GOALS CONCEDED ****   
# # Gets the goals conceded agg arranged by teams and matchweek

def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded


def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)

    j = 0
    HTGC = []
    ATGC = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
        
    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat

get_gss(filtered_data[0])
filtered_data[0]

# # Apply to the filtered dataset
# for i, season in enumerate(filtered_data):
#     get_gss(filtered_data[i])

KeyError: 'HomeTeam'

In [21]:
# Add the cumulative goals scored

def add_cumulative_score_field(frame, cum_field):
    #  Input: 'frame' is a data frame input that has multiple teams to group.
    #         They are grouped by the 'cum_field' string. Teams are either playing home or away.
    # Output: This function has a null return. But it modifies the input frame.
    #         This works as the input frame is a byRef variable asssignment.

    frame_stacked = frame.stack(0)
    total_pts = frame_stacked.groupby('Team')[cum_field].cumsum()

    # Insert the new cumulative sum values in to the frame with the correctly named columns.
    col_heading = "t_scored_{}".format(cum_field)
    frame[('Home', col_heading)] = total_pts[:, 'Home']
    frame[('Away', col_heading)] = total_pts[:, 'Away']
    
    
# Add the cumulative Full Time Scored Goals for both teams.
for i, season in enumerate(filtered_data):
    add_cumulative_score_field(filtered_data[i], 'FTG')

# filtered_data[0]

c:\users\matt\envs\jupyter-notebook\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\matt\envs\jupyter-notebook\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [172]:
# #*** GOALS SCORED ***
# # Gets the goals scored agg arranged by teams and matchweek
# def get_goals_scored(playing_stat):
#     # Create a dictionary with team names as keys
#     teams = {}
#     for i in playing_stat.groupby('HomeTeam').mean().T.columns:
#         teams[i] = []
    
#     # the value corresponding to keys is a list containing the match location.
#     for i in range(len(playing_stat)):
#         HTGS = playing_stat.iloc[i]['FTHG']
#         ATGS = playing_stat.iloc[i]['FTAG']
#         teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
#         teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
    
#     # Create a dataframe for goals scored where rows are teams and cols are matchweek.
#     GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
#     GoalsScored[0] = 0
#     # Aggregate to get uptil that point
#     for i in range(2,39):
#         GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
#     return GoalsScored


# #*** GOALS CONCEDED ****   
# # Gets the goals conceded agg arranged by teams and matchweek
# def get_goals_conceded(playing_stat):
#     # Create a dictionary with team names as keys
#     teams = {}
#     for i in playing_stat.groupby('HomeTeam').mean().T.columns:
#         teams[i] = []
    
#     # the value corresponding to keys is a list containing the match location.
#     for i in range(len(playing_stat)):
#         ATGC = playing_stat.iloc[i]['FTHG']
#         HTGC = playing_stat.iloc[i]['FTAG']
#         teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
#         teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
#     # Create a dataframe for goals scored where rows are teams and cols are matchweek.
#     GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
#     GoalsConceded[0] = 0
#     # Aggregate to get uptil that point
#     for i in range(2,39):
#         GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
#     return GoalsConceded

# def get_gss(playing_stat):
#     GC = get_goals_conceded(playing_stat)
#     GS = get_goals_scored(playing_stat)
   
#     j = 0
#     HTGS = []
#     ATGS = []
#     HTGC = []
#     ATGC = []

#     for i in range(380):
#         ht = playing_stat.iloc[i].HomeTeam
#         at = playing_stat.iloc[i].AwayTeam
#         HTGS.append(GS.loc[ht][j])
#         ATGS.append(GS.loc[at][j])
#         HTGC.append(GC.loc[ht][j])
#         ATGC.append(GC.loc[at][j])
        
#         if ((i + 1)% 10) == 0:
#             j = j + 1
        
#     playing_stat['HTGS'] = HTGS
#     playing_stat['ATGS'] = ATGS
#     playing_stat['HTGC'] = HTGC
#     playing_stat['ATGC'] = ATGC
    
#     return playing_stat

# # Apply to the filtered dataset
# for year in filtered_data:
#     year = get_gss(year)